body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

ul, ol { list-style: none; }


body {
  font-family: "Hiragino Sans GB", helvetica, sans-serif;
}

table {
  width: 100%;
  font-size: 14px;
}

table tr:hover {
  background-color: #eee;
}
table th, table td {
  line-height: 32px;
  padding: 0 5px;
  text-align: left;
}

table tr td {
  padding: 5px;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: none;
}

input[type="text"].ng-touched.ng-invalid,
input[type="time"].ng-touched.ng-invalid,
input[type="date"].ng-touched.ng-invalid,
input[type="number"].ng-touched.ng-invalid {
  border: 1px solid #FD8D9E;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.red {
  background: #FD8D9E;
  color: #ffffff;
}
.blue {
  background: #00E4FF;
  color: #ffffff;
}
.green {
  background: #55DAB3;
  color: #ffffff;
}

.icon {
  background: url('/images/icon.png') 0px 0px/90px 60px;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.icon-wifi {
  background-position: 0 0;
}
.icon-shower {
  background-position: -30px 0;
}
.icon-parking {
  background-position: -60px 0;
}
.icon-changing-room {
  background-position: 0px -30px;
}
.icon-toilet {
  background-position: -30px -30px;
}
.icon-resting-area {
  background-position: -60px -30px;
}

.avatar {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.add-photos .photo-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.add-photos .photo {
  height: 90px;
  width: auto;
  padding: 5px;
  position: relative;
}
.add-photos .photo:hover {
  cursor: pointer;
}
.add-photos img:hover {
  /*opacity: 0.3;*/
}
.add-photos .delete {
  display: none;
}
.add-photos .photo:hover .delete {
  display: inline-block;
  position: absolute;
  font-size: 24px;
  top: 0px;
  left: 0px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 100px;
  background: rgba(0,0,0,0.6);
}
.add-photos img {
  height: 90px;
  width: auto;
}
.add-photos button {
  margin-left: 8px;
}

.amenities .label,
.class-properties .label {
  width: 180px;
}

.button {
  border-radius: 4px;
  font-size: 12px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.button:hover, .button:active {
  text-decoration: none;
}

.button-primary {
  background: #00E4FF;
  color: #FFFFFF;
}

.button.button-block {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
.button.disabled {
  background: #B5BBC3;
}

.button[disabled="disabled"] {
  background: #ccc;
  color: #aaa;
}

ul.horizontal li {
  display: inline-block;
}

.anchor {
  text-decoration: underline;
  color: #009BFF;
  cursor: pointer;
}

/* Customize container */
.container {
  max-width: 900px;
  margin: 0 auto;
}

.footer {
  border-top: 1px solid #DADDE1;
  padding: 10px 0;

  font-size: 12px;
  color: #7D8895;
  text-align: center;
  line-height: 16px;
}

.content {
  padding: 0px 12px;
}


.order-list .filter,  .admin-home .filter{
  text-decoration: underline;
  cursor: pointer;
}

.admin-home .filter:hover {
  cursor: pointer;
}
.admin-home .classes .venue {
  max-width: 120px;
}

.edit {
  font-size: 16px;
}
.edit .item {
  padding: 10px 0;
  margin: 10px 0;
}
.edit .icon {
  vertical-align: middle;
}
.edit h1 {
  font-size: 36px;
}
.edit h2 {
  font-size: 24px;
}
.edit textarea {
  display: block;
  height: 150px;
  width: 100%;
}
.edit input, .edit select {
  height: 40px;
  width: 300px;
}
.edit input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 15px;
}
.edit label {
  display: inline-block;
  width: 100px;
}

.edit-class .description {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 4px;
  color: #4A4A4A;
  font-size: 14px;
}
.edit-class .description h1,
.edit-class .description h2,
.edit-class .description h3,
.edit-class .description h4,
.edit-class .description h5,
.edit-class .description h6 {
  margin-top: 19px;
  margin-bottom: 12px;
  font-size: 14px;
}
.edit-class .description p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.edit-class .description img {
  width: 100%;
}

