.master-detail {
  height: 100%;
}

.master-detail .master, 
.master-detail .detail {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.master-detail .master {
  width: 152px;
  border-right: 1px solid #ebebeb;
  box-shadow: 0 1px 4px 0 #ebebeb;
}

.master-detail .detail {
  /* should add border 1px width */
  width: calc(100% - 153px);
}

.master-detail .master-item {
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.master-detail .master-item,
.master-detail .master-item > a {
  color: #696969;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Ping Fang SC', 'Open Sans', sans-serif;
}

.master-detail .master-item:hover {
  background-color: #ebebeb;
}

.master-detail .master-item.active {
  background-color: #70CCA1;
}

.master-detail .master-item.active > a {
  color: #fff;
}

.master-detail .master-item header {
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.master-detail .master-item section {
  box-sizing: border-box;
  padding: 0;
}

.master-detail .master-item section > div {
  font-size: 12px;
  padding: 2px 0;
}
