.master-detail {
  height: 100%;
}

.master-detail .master, 
.master-detail .detail {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.master-detail .master {
  width: 200px;
  border-right-color: rgba(0,0,0,0);
}

.master-detail .master:not(.master-without-border) {
  border-right: 1px solid #ebebeb;
  box-shadow: 0 1px 4px 0 #ebebeb;
}

.master-detail .detail {
  /* should add border 1px width */
  width: calc(100% - 201px);
}

.master-detail .detail > div,
.master-detail .detail-container,
.master-detail .detail-container > * {
  height: 100%;
}

.master-detail .master-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.master-detail .master-item,
.master-detail .master-item > a {
  color: #696969;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Ping Fang SC', 'Open Sans', sans-serif;
}

.master-detail .master-item:hover {
  background-color: #ebebeb;
}

.master-detail .master-item.active {
  background-color: #70CCA1;
}

.master-detail .master-item.active > a {
  color: #fff;
}

.master-detail .master-item:not(.active):not(.hide-bottom-line) {
  border-color: #DAE2D9;
}

.master-detail .master-item header {
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.master-detail .master-item section {
  box-sizing: border-box;
  padding: 0;
}

.master-detail .master-item section > div {
  font-size: 12px;
  padding: 2px 0;
}

/**
 * detail card
 */

.master-detail .detail-card {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  overflow-y: scroll;
  box-sizing: border-box;
}

.master-detail .detail-cards-left,
.master-detail .detail-cards-right {
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 20px);
}

.master-detail .detail-cards-left {
  width: 70%;
  margin-right: 10px;
}

.master-detail .detail-cards-right {
  width: calc(30% - 10px);
  float: right;
}

.master-detail .detail-card > h3 {
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.master-detail .detail-card-row {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}

.master-detail .detail-card-row > * {
  display: inline-block;
}

.master-detail .detail-card-row > label {
  color: #4A4A4A;
  width: 90px;
  vertical-align: top;
}

.master-detail .detail-card-row > span {
  color: #9B9B9B;
  width: calc(100% - 90px);
}