body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#root-container > div {
  height: 100%;
  background-color: #fafafa;
}
.main {
  position: absolute;
  left: 150px;
  top: 50px;
  right: 0;
  bottom: 0;
  z-index: -100;
  overflow-y: hidden;
}
.main-activity, .main-resource {
  display: inline-block;
}
.main-activity {
  width: 100%;
  transition: all .2s ease-in-out;
}
.main-resource {
  height: 100%;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
