body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
p, span {
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}
#root-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#root-container > div {
  height: 100%;
  background-color: #fafafa;
}
.main {
  position: absolute;
  left: 150px;
  top: 52px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.main-activity, .main-resource {
  display: inline-block;
}
.main-activity {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: all .2s ease-in-out;
}
.main-resource {
  height: 100%;
  vertical-align: top;
  border-left: 1px solid #DADDE1;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
