
.toolbar {
  width: calc(100% - 150px);
  position: absolute;
  top: 0;
  left: 150px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.toolbar li {
  float: right;
  margin: 10px 0;
  padding: 4px 12px;
  font-size: 12px;
  display: block;
  border-right: 1px solid #ececec;
  text-align: center;
  height: 24px;
}

.toolbar li * {
  box-sizing: border-box;
}

.toolbar .action-button {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #888;
}
.toolbar .action-button:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.toolbar a {
  text-decoration: none;
  color: #242f40;
}

.toolbar .search {
  height: 0;
}

.toolbar .search-box {
  height: 24px;
  width: 250px;
  padding: 0;
  position: relative;
}
.toolbar .search-box .icon-font {
  width: 20px;
  font-size: 16px;
  color: #888;
  display: block;
  padding: 4px 0 0 7px;
  position: absolute;
  top: 0;
  left: 0;
}
.toolbar .search-box input {
  height: 100%;
  width: calc(100% - 5px);
  padding-left: 30px;
  font-size: 14px;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
}
.toolbar .search-box input:focus {
  border: 1px solid #00cfe6;
}

.toolbar .notifier {
  cursor: pointer;
  position: relative;
  padding: 3px;
  border-radius: 4px;
}

.toolbar .notifier:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.toolbar .notifier .notifier-spot {
  position: absolute;
  top: -3px;
  right: 3px;
  background-color: #f00;
  color: #fff;
  border-radius: 4px;
  display: block;
  height: 8px;
  width: 8px;
}

.toolbar .notifier .icon-font {
  font-size: 18px;
}