
.toolbar {
  width: calc(100% - 150px);
  height: 50px;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.toolbar li {
  float: left;
  margin: 10px 0;
  padding: 6px 20px;
  font-size: 12px;
  display: block;
  border-right: 1px solid #ececec;
  text-align: center;
  height: 18px;
  float: right;
}

.toolbar .actions {
  float: left;
  height: 100%;
}

.toolbar .action-button {
  display: inline-block;
  padding: 10px;
  margin: 6px 15px;
  font-size: 12px;
  cursor: pointer;
}

.toolbar a {
  text-decoration: none;
  color: #242f40;
}

.toolbar .search {
  height: 0;
}

.toolbar .search-box {
  height: 28px;
  width: 250px;
  border-radius: 14px;
  border: 1px solid #d8d8d8;
  padding: 0;
  position: relative;
  top: -6px;
}
.toolbar .search-box .icon-font {
  width: 20px;
  heigth: 100%;
  font-size: 16px;
  color: #888;
  display: block;
  float: left;
  padding: 5px 0 0 2px;
}
.toolbar .search-box input {
  height: 100%;
  width: calc(100% - 40px);
  font-size: 14px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
}

.toolbar .notifier .icon-font {
  font-size: 18px;
}