.calendar {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calendar li {
  list-style: none;
}

.week-header {
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.week-header .table-header {
  /* width equal to total width substract scroll-div's width */
  width: calc(100% - 15px);
  margin: 0;
  padding: 0;
}

.week-header .table-header,
.week-header .scroll-div {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

/* scroll-div is an placeholder, align table-header horizontal to table-body */
.week-header .scroll-div {
  width: 7px;
}

.week-header .table-header .header-index {
  border: none;
  width: 60px;
}

.week-header .table-header li {
  /* set table-header cell width by substract serven border width and header-index width
   * and divide equally by serven cell */
  width: calc((100% - 60px - 7px) / 7);
  display: inline-block;
  border-left: 1px solid #EBEBEB;
  text-align: center;
  height: 16px;
  line-height: 16px;
  font-family: 'PingFang SC', sans-serif;
  font-size: 12px;
  color: #4A4A4A;
}

.schedule-table {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
}

.schedule-table-column {
  background: #fff;
}

.schedule-table ul {
  float: left;
  margin: 0;
  padding: 0;
  border-left: 1px solid #EBEBEB;
  /* same as table-header's cell */
  width: calc((100% - 60px - 7px) / 7);
  text-align: center;
}

.schedule-table ul > li {
  border-bottom: 1px solid #EBEBEB;
  height: 40px;
  position: relative;
}

.schedule-table ul.hour-axis {
  /* same as table-header's header-index */
  width: 60px;
  border: none;
}

.schedule-table ul.hour-axis li {
  border: none;
  vertical-align: middle;
  color: #696969;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.schedule-table::-webkit-scrollbar {
  width: 7px;
}

.schedule-table::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.schedule-table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.schedule-table ul li:empty:hover {
  cursor: crosshair;
}

.schedule-table .baseline-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.schedule-table .baseline-clock {
  position: relative;
  width: 60px;
  text-align: center;
  line-height: 1px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
}

.schedule-table .baseline-clock-base {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: -9px;
  padding-top: 9px;
  width: 60px;
  height: 18px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #7ABDDD;
}

.schedule-table .baseline-clock-triangle {
  position: absolute;
  top: -9px;
  right: -9px;
  height: 0;
  width: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #7ABDDD;
  z-index: 10;
}

.schedule-table .baseline {
  position: absolute;
  left: 60px;
  height: 1px;
  line-height: 1px;
  border-top: 1px solid #7ABDDD;
  display: inline-block;
  width: calc(100% - 60px);
  vertical-align: middle;
  z-index: -1;
  cursor: crosshair;
}

/* we hide the active line */
.schedule-table .baseline.hidden {
  opacity: 0;
}

.schedule-table .cards {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.class-card {
  position: relative;
  text-align: left;
  background-color: rgba(254,248,217,.5);
  border: 1px solid rgba(238,64,3,.21);
  font-size: 12px;
  font-family: 'PingFang SC', sans-serif;
  cursor: pointer;
  color: #555;
  padding: 10px;
  transition: background-color .3s ease-in-out;
  box-sizing: border-box;
}

.class-card span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.class-card .bottom-dragger {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 5px;
  color: transparent;
  cursor: row-resize;
  z-index: 10;
}

.class-card .top-dragger {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -2px;
  height: 5px;
  color: transparent;
  cursor: row-resize;
  z-index: 10;
}

.class-card:not(.resized):not(.moved):hover {
  background-color: rgba(254,248,217,1);
}

.class-card .class-name {
  font-size: 14px;
  color: #D0021B;
}

.class-card .class-during {
  font-size: 12px;
  color: #FA021F;
}

.class-card .class-stats {
  margin-top: 5px;
}

.class-card .class-stats > span {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  padding: 1px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.class-card .class-stats-paid {
  background-color: #80C7E8;
}

.class-card .class-stats-cancel {
  background-color: #FF8AC2;
}

.class-card .class-stats-checkin {
  background-color: #6ED4A4;
}

.class-card .class-button-close {
  position: absolute;
  background-color: #FF8AC2;
  height: 16px;
  width: 16px;
  right: -8px;
  top: -8px;
  border-radius: 8px;
}

.class-card .class-button-close:before {
  content: 'x';
  color: #fff;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  display: block;
  height: 100%;
  line-height: 14px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.create-card {
  background: rgba(12, 0, 204, 0.26);
  position: absolute;
  opacity: 0;
}

.create-card-shown {
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.ToolTipPortal .class-date {
  margin-top: 5px;
}

.ToolTipPortal .class-date span {
  font-size: 12px;
  color: #777;
  margin-right: 3px;
}

.ToolTipPortal .trainer {
  font-size: 0.8em;
  color: #777;
  margin-top: 5px;
  font-family: sans-serif;
}

.ToolTipPortal .divider {
  width: 200px;
  height: 0;
  border-top: 1px solid #ccc;
  font-size: 0;
}

.ToolTipPortal .btn-modify-class {
  height: 20px;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 20px;
  color: #777;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 0px 0px;
  vertical-align: middle;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.ToolTipPortal .btn-modify-class:hover {
  background: white;
}

.ToolTipPortal .class-title {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0px;
}

.ToolTipPortal .user-status {
  font-size: 10px;
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ToolTipPortal .label-cancel, 
.ToolTipPortal .label-checkin, 
.ToolTipPortal .label-paid {
  color: #777;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 3px;
}

.ToolTipPortal .order-info {
  position: relative;
  font-size: 11px;
}

.ToolTipPortal .order-info-users {
}

.ToolTipPortal .order-info-users p {
  margin: 5px 0;
}

.ToolTipPortal .order-info-selection {
  position: absolute;
  right: 0px;
  top: 7px;
}

.ToolTipPortal .order-info-selection div[class^="btn-"] {
  display: inline-block;
  margin: 0 3px;
  font-size: 10px;
  color: #777;
  cursor: pointer;
  opacity: 0.7;
  transition: all .3s ease-in-out;
}

.ToolTipPortal .order-info-selection > div[class^="btn-"]:hover, 
.ToolTipPortal .order-info-selection > div.selected {
  opacity: 1;
}

.ToolTipPortal .label-checkin {
  background: #3eca89;
  color: #3eca89;
}

.ToolTipPortal .label-cancel {
  background: #b3b3b3;
  color: #b3b3b3;
}

.ToolTipPortal .label-paid {
  background: #143c65;
  color: #143c65;
}

.ToolTipPortal .order-info li {
  list-style: none;
  font-size: 12px;
  font-family: sans-serif;
  margin-bottom: 5px;
  color: #777;
}

