.class-new-loading {
  text-align: center;
  padding: 30px 0px;
}

.class-new-loading p {
  margin-top: 10px;
  font-size: 14px;
  font-family: monospace;
  color: #555;
}

.class-new-container {
  padding: 20px;
}

.class-new-container h1 {
  font-size: 18px;
  border-bottom: 1px solid #e8e8e8;
}
