.form {
  padding: 5px;
  font-size: 14px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}

.form-row {
  display: block;
  margin: 5px 0;
}

.form-row > * {
  display: inline-block;
  vertical-align: top;
}

.form-row > label {
  width: 10%;
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  color: #696969;
}

.form-row > label .label-text {
  display: inline-block;
  width: 80%;
}

.form-row > label.required:after {
  content: ' *';
  color: red;
}

.form-row > label,
.form-row > .form-row-hint {
  margin-top: 4px;
}

.form-row-controls {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

.form-row-hint {
  width: 40%;
  color: #696969;
  font-size: 12px;
}

/* TextInput */
.form-input, 
.form-select {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  height: 30px;
  margin-right: 5px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.form-input-multiline {
  min-height: 150px;
}

.form-input:focus,
.form-file-input:hover .form-input:focus {
  border: 1px solid #70CCA1;
}

/* FileInput */
.form-file-input {
  position: relative;
}

.form-file-input > input {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 90;
  cursor: pointer;
}

.form-file-preview {
  overflow-x: scroll;
  margin-top: 10px;
}

.form-file-preview > li {
  position: relative;
  display: inline-block;
  margin: 0px 2px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-file-preview:not(.multiple) > li {
  width: calc(100% - 5px);
  height: 100px;
}

.form-file-preview.multiple > li {
  width: calc(33% - 5px);
  height: 110px;
}

.form-file-preview > li > .hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  transition: all .2s ease-in-out;
}

.form-file-preview > li > .hover:hover {
  background-color: rgba(0,0,0,.3);
}

.form-file-preview > li > img {
  height: 100%;
  width: 100%;
}

/* TextButton */
.form-btn {
  display: inline-block;
  height: 30px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  padding: 0 10px;
  color: #7e7e7e;
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
}
.form-btn.disabled {
  border-color: #eee;
  color: #eee;
  cursor: no-drop;
}
.form-btn:not(.disabled):hover,
.form-file-input:hover .form-btn:not(.disabled) {
  color: #fff;
  border-color: #70CCA1;
  background-color: #70CCA1;
}
