.order-add {
  padding: 50px;
}

.order-add-find-user {
  margin: 10px 0;
  color: #9b9b9b;
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  transition: all .2s ease-in-out;
}

.order-add-find-user > * {
  display: inline-block;
  vertical-align: top;
}

.order-add-find-user > img {
  height: 15px;
  width: 15px;
  border-radius: 5px;
}

.order-add-find-user > span {
  margin: 0 10px;
}
