.detail .order-user {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}

.detail .order-payment fieldset {
  border: 0;
  border-top: 1px solid #E8E8E8;
  text-align: center;
  margin: 10px 0;
}

.detail .order-payment fieldset legend {
  font-size: 12px;
  color: #9B9B9B;
  padding: 0 5px;
  box-sizing: border-box;
}

.detail .order-payment-description {
  color: #9B9B9B;
  font-size: 14px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 10px 0;
}

.order-detail-container h3 {
  display: inline-block;
}

.order-detail-container .status-tag {
  margin: 0 5px;
  padding: 4px 6px;
  background-color: #a1a2a3;
  color: white;
  border-radius: 2px;
  box-sizing: border-box;
}

.order-detail-container .green-bg {
  background-color: #6ED4A4;
}
