.order-detail-container {
  padding: 10px;
  background-color: #F7F7F7;
}

.detail .order-user {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}

.detail .order-user-avatar {
  height: 80px;
  width: 80px;
  margin: 10px 0;
}

.detail .order-user-avatar > img {
  height: 100%;
  width: 100%;
}

.detail .order-payment > fieldset {
  border: 0;
  border-top: 1px solid #E8E8E8;
  text-align: center;
  margin: 10px 0;
}

.detail .order-payment > fieldset legend {
  font-size: 12px;
  color: #9B9B9B;
  padding: 0 5px;
  box-sizing: border-box;
}

.detail .order-payment-description {
  color: #9B9B9B;
  font-size: 14px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 10px 0;
}

.detail .order-class-package {
  height: 149px;
  width: 100%;
  border-radius: 5px;
  background-color: #E1E2E3;
}

/**
 * Order History
 */
.detail .order-history h3 {
  color: #4A4A4A;
  font-size: 18px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}

.detail .order-history-empty {
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}

.detail .order-logs {
  border-left: 2px solid #E8E8E8;
  height: 100%;
  margin-left: 10px;
}

.detail .order-log {
  margin: 10px 0 10px -10px;
  height: 20px;
}

.detail .order-log > * {
  display: inline-block;
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
  line-height: 20px;
  vertical-align: middle;
}

.detail .order-log-dot {
  height: 12px;
  width: 12px;
  border: 4px solid #efefef;
  border-radius: 10px;
  background-color: #000;
  margin-right: 10px;
}

.detail .order-log-paid .order-log-dot {
  background-color: #80c7e8;
}

.detail .order-log-cancel .order-log-dot {
  background-color: #ff8ac2;
}

.detail .order-log-checkin .order-log-dot {
  background-color: #6ed4a4;
}

.detail .order-log-date,
.detail .order-log-time {
  color: #828282;
  padding: 0 2px;
}

.detail .order-log-description {
  color: #4a4a4a;
  padding: 0 4px;
}
