.wrap-booking-manager {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  margin: 30px auto 0;
  padding: 0 20px;
}

.wrap-booking-manager tr td {
  padding: 8px 8px;
}

.wrap-booking-manager .pagination {
  float: right;
  margin: 20px 0;
}

.booking-status {
  display: block;
  color: #fff;
  padding: 2px 4px;
  width: 45px;
  font-weight: normal;
  text-align: center;
}

.wrap-booking-manager .ant-menu-item-selected a {
  color: #108ee9;
}

.booking-menu {
  margin-bottom: 10px;
}