.class-package-container {
  position: relative;
}
.class-package-actions {
  position: absolute;
  right: 20px;
  top: 0;
}
.class-package-loading {
  padding-left: 40%;
  padding-top: 15%;
  box-sizing: border-box;
}
.class-package-loading > * {
  display: inline-block;
  font-size: 12px;
  color: #777;
  margin: 0 5px;
  line-height: 14px;
  vertical-align: middle;
}
.class-package-grids {
  margin: 10px;
}
.class-package-grid {
  margin: 10px 0;
}
.class-package-grid .grid-title {
  font-size: 14px;
  font-family: 'PingFang SC', sans-serif;
}
.class-package-grid .grid-title {
  border: 0;
  border-top: 1px solid #dddddd;
  text-align: center;
  color: #9b9b9b;
  font-size: 14px;
  margin-bottom: 10px;
}
.class-package-grid .grid-title legend {
  padding: 0 5px;
}
.class-package-grid .grid-title-total {
  display: inline-block;
  width: 24px;
  border: 1px solid #9b9b9b;
  border-radius: 9px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-left: 10px;
}
.class-package-grid .grid-item {
  margin-right: 18px;
  margin-bottom: 18px;
}