.class-package-container {
  position: relative;
}
.class-package-actions {
  position: absolute;
  right: 20px;
  top: 0;
}
.class-package-loading {
  padding-left: 40%;
  padding-top: 15%;
  box-sizing: border-box;
}
.class-package-loading > * {
  display: inline-block;
  font-size: 12px;
  color: #777;
  margin: 0 5px;
  line-height: 14px;
  vertical-align: middle;
}
.class-package-grids {
  margin: 10px;
}
.class-package-grid {
  margin: 10px 0;
}
.class-package-grid .grid-title {
  font-size: 14px;
  font-family: 'PingFang SC', sans-serif;
  margin-bottom: 5px;
}
.class-package-grid .grid-items li {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-right: 10px;
  height: 80px;
  width: 150px;
  background-color: rgba(254,248,217,.5);
  border: 1px solid rgba(238,64,3,.21);
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
.class-package-grid .grid-items li:hover {
  background-color: rgba(254,248,217,1);
  border-color: rgba(238,64,3,.51);
  box-shadow: 0 1px 2px 2px #efefef;
}
.class-package-grid .class-package-name {
  font-size: 14px;
  font-family: 'PingFang SC', sans-serif;
  color: #D0021B;
}
.class-package-grid .class-package-price {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #FA021F;
  position: absolute;
  right: 10px;
  bottom: 10px;
}