.login .tabs {
  text-align: left;
}

.login .tabs > li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30%;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.login .tabs > li.selected {
  background-color: rgba(255,255,255,.2);
}

.login .contents {
  background-color: rgba(255,255,255,.2);
  text-align: left;
  padding: 30px 50px;
  box-sizing: border-box;
}

.login-link {
  margin-top: 10px;
}

/* qrcode */

.login-qrcode {
  text-align: center;
  color: #fff;
}

.login-qrcode-wrapper {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #00CFE6;
  padding: 5px;
  height: 180px;
  width: 180px;
}

.login-qrcode-hint {
  font-size: 14px;
  margin-top: 10px;
}
