body {
  font-family: 'Helvetica Neue', 'Helvetica','Arial', sans-serif;
  background-color: #00e4ff;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  font-size: 36px !important;
  font-weight: 600;
}

h1, .hint {
  color: #fff;
  text-align: center;
}

.hint {
  font-size: 18px;
}

.login-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#qrcode-container {
  display: inline-block;
  line-height: 0;
  margin: 10px 30px;
  padding: 6px;
  background-color: #fff;
  border-radius: 2px;
  outline: 1px solid #00cfe6;
}

