.resource-calendar-links {
  font-size: 12px;
  font-family: 'PingFang SC', sans-serif;
  color: #4398BF;
  margin-bottom: 5px;
}

.resource-calendar-links a {
  padding: 0 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.resource-calendar-links a:first-child {
  border-right: 1px solid #EBEBEB;
}

.resource-calendar-links a:hover {
  color: #999;
  text-decoration: underline;
}

.resource-calendar-templates {
  color: #1E7299;
  font-size: 14px;
  font-family: 'PingFang SC', sans-serif;
}

.resource-calendar-templates li {
  display: inline-block;
  background-color: #C0F8FF;
  border: 1px solid rgba(58,132,166,.21);
  border-radius: 2px;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.resource-calendar-template {
  position: relative;
}

.resource-calendar-template:hover .resource-calendar-template-hint {
  opacity: 1;
}

.resource-calendar-template-hint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  opacity: 0;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  transition: opacity .2s ease-in-out;
}

.resource-calendar-template-hint .hint-text {
  font-size: 12px;
  font-family: 'PingFang SC', sans-serif;
}
