.week-picker .go-prev-btn,
.week-picker .go-next-btn {
  border: 0;
  background: #EBEBEB;
  border-radius: 50%;
  color: #777;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
  padding: 6px;
  transition: background-color 0.3s linear;
}
.week-picker .go-prev-btn:hover, .go-next-btn:hover {
  background-color: #EBEBEB;
}
.week-picker {
  height: 52px;
}
.week-picker .week-date {
  display: inline-block;
  width: 240px;
  font-size: 20px;
  font-family: 'Open Sans', Arial;
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
  color: #696969;
}