.resource-calendar-template {
  position: relative;
  display: inline-block;
  background-color: #C0F8FF;
  border: 1px solid rgba(58,132,166,.21);
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.resource-calendar-template > div {
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}

.resource-calendar-template-duration,
.resource-calendar-template-trainer {
  font-size: 12px;
}

.resource-calendar-template:hover .resource-calendar-template-hint {
  opacity: 1;
}

.resource-calendar-template-hint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(37,102,130,0.7);
  color: #fff;
  opacity: 0;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  transition: opacity .2s ease-in-out;
}

.resource-calendar-template-hint .hint-text {
  font-size: 12px;
  font-family: 'PingFang SC', sans-serif;
  font-weight: 100;
}

.resource-calendar-template-hint .icon-copy {
  font-size: 18px;
}

.class-copy-card {
  opacity: 0;
  position: absolute !important;
  top: 0;
  left: 0;
}
