.navbar {
  width: 150px;
  height: 100%;
  background-color: #242f40;
  float: left;
  position: absolute;
  color: #fafafa;
}
.navbar a {
  color: #fafafa;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: block;
}
.navbar li {
  position: relative;
  width: 100%;
  transition: all .3s ease-in-out;
}
.navbar li > .active-marker {
  height: 100%;
  width: 3px;
  background-color: #00E4FF;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar li > a {
  box-sizing: border-box;
  padding: 10px 0;
}
.navbar li.navitem:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.navbar li.navitem.active {
  background-color: rgba(255, 255, 255, 0.10);
}
.navbar li:first-child {
  padding-top: 15px;
}
.navbar .studio-name,
.navbar .username {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}
.navbar .useravatar {
  text-align: center;
  margin-top: 10px;
}
.navbar .useravatar img {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}
.navbar .useravatar img:hover {
  opacity: 0.7;
}
.navbar .username a {
  display: inline-block;
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}
.navbar .username > *:first-child:after {
  content: '|';
  margin: 0 7px;
}
.navbar .username > *:first-child > a {
  color: #00E4FF;
}
.navbar .username a:hover {
  text-decoration: underline;
}

.navbar .icon-font {
  padding-right: 10px;
}

.navbar .data-item {
  background-color: red;
  border-radius: 4px;
  padding: 7px 10px;
  margin: 10px;
}

.data-item > div {
  width: 100%;
}

.data-item > .value {
  color: #fff;
  font-size: 36px;
  font-family: 'Open Sans';
  font-weight: 100;
  margin: -5px 0;
  text-align: center;
}

.data-item > .hint {
  font-size: 12px;
  text-align: center;
}
