
.navbar {
  width: 150px;
  height: 100%;
  background-color: #242f40;
  float: left;
  position: absolute;
  color: #fafafa;
}

.navbar li {
  width: 100%;
}
.navbar li > a {
  padding: 10px 0;
  margin: 5px 0;
}
.navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar a {
  color: #fafafa;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: block;
}

.navbar li:first-child {
  padding-top: 15px;
}

.navbar .username * {
  display: inline-block;
  margin-right: 10px;
}

.navbar .username a {
  padding: 0 5px;
  font-size: 12px;
  border-radius: 2px;
}

.navbar .studio-name,
.navbar .username {
  width: 100%;
  text-align: left;
  padding-left: 15px;
}

.navbar .icon-font {
  padding-right: 10px;
}

.navbar .data-item {
  background-color: red;
  border-radius: 4px;
  padding: 7px 10px;
  margin: 10px;
}

.data-item > div {
  width: 100%;
}

.data-item > .value {
  color: #fff;
  font-size: 36px;
  font-family: 'Open Sans';
  font-weight: 100;
  margin: -5px 0;
  text-align: center;
}

.data-item > .hint {
  font-size: 12px;
}
