
.navbar {
  width: 150px;
  height: 100%;
  background-color: #242f40;
  float: left;
  position: fixed;
}

.navbar li {
  width: 100%;
  padding: 15px 0;
}
.navbar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar li:first-child {
  padding-top: 0;
  background-color: rgba(255,255,255,0.05);
}
.navbar li:first-child:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: block;
}
.navbar li:first-child a {
  position: relative;
  top: 15px;
}

.navbar li:first-child .studio-name {
  font-size: 18px;
}

.navbar li:first-child .studio-name,
.navbar li:first-child .username {
  width: 100%;
  text-align: left;
  padding-left: 15px;
}
.navbar li:first-child .icon-settings {
  position: absolute;
  top: 15px;
  right: 0;
}

.navbar .icon-font {
  padding-right: 10px;
}

.navbar .data-item {
  background-color: red;
  border-radius: 4px;
  padding: 20px 10px;
  margin: 10px;
  height: 30px;
}

.data-item > div {
  float: left;
  position: relative;
}

.data-item > .hint {
  top: 7px;
  font-size: 12px;
  padding-right: 10px;
}

.data-item > .value {
  top: -15px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 45px;
  font-weight: 100;
  width: 52px;
}


