.launch-screen-container {
  width: 100%;
  text-align: center;
}
.launch-screen-topbar {
  position: absolute;
  top: 0;
  width: 0%;
  height: 2px;
  background-color: #80C7E8;
  outline-width: 2px;
  outline-color: #80C7E8;
  transition: all .2s ease-in-out;
}
.launch-screen-content {
  padding-top: 20%;
}
.launch-screen-content p {
  font-size: 12px;
  font-family: 'PingFang SC', 'Open Sans', sans-serif;
}