<div class="class-list">
  <table border="1" class="classes">
    <caption>Classes</caption>
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Venue</th>
        <th ng-click="dateReverse=!dateReverse" class="filter">Datetime</th>
        <th>Price</th>
        <th>Duplicate</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in classes | orderBy:'from':dateReverse">
        <td><a href="/admin/classes/edit/{{event.id}}" ng-bind="event.title.en"><i class="fa fa-pencil"></i></a></td>
        <td ng-bind="event.venue.name.en" class="venue"></td>
        <td ng-bind-template="{{event.from | amDateFormat:'YYYY-MM-DD'}} {{event.from | amDateFormat:'h:mm'}} - {{event.to | amDateFormat:'h:mm a'}}"></td>
        <td ng-bind="event.price | currency:'￥':'0'"></td>
        <td style="text-align: center;"><a ng-show="event.isTemplate" href="/admin/classes/add?copied_from={{event.id}}"><i class="fa fa-plus"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
