<form class="edit-class edit" name="classForm" novalidate>
  <div class="item">
    <h1>Class ID</h1>
    <span ng-bind="class.id"></span>
  </div>

  <div class="item">
    <h1>Is Template?</h1>
    <div>
      <p ng-show="class.isTemplate">Yes</p>
      <div ng-hide="class.isTemplate">
        <p>No</p>
        <p>Copied From: <a ng-href="/admin/classes/edit/{{class.copiedFrom}}" ng-bind="class.copiedFrom"></a></p>
      </div>
    </div>
  </div>

  <div class="item">
    <h1>Title</h1>
    <div>
      <label>en<span>*</span></label>
      <input type="text" ng-model="class.title.en" required />
    </div>
    <div>
      <label>cn</label>
      <input type="text" ng-model="class.title.zh" />
    </div>
  </div>

  <div class="item">
    <h1>Venue</h1>
    <div>
      <label>Venue<span>*</span></label>
      <wf-venue-select venue-model="class.venue"></wf-venue-select>
    </div>
  </div>

  <div class="item">
    <h1>Attendees</h1>
    <div class="fa fa-spinner fa-pulse" ng-hide="orders"></div>
    <p ng-show="orders.length <= 0">No attendees</p>
    <table border="1" ng-show="orders.length > 0">
      <thead>
        <tr>
          <th>User</th>
          <th>Phone</th>
          <th>Passcode</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders | filter:{status: 'paid'}">
          <td>
            <img ng-src="{{order.user.avatarUrl}}" class="avatar">
            <span ng-bind="order.user.nickname"></span>
          </td>
          <td ng-bind="order.user.phone"></td>
          <td ng-bind="order.passcode"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item">
    <h1>Available</h1>
    <div>
      <input id="available" type="checkbox" ng-model="class.available" />
      <label for="available">Available</label>
    </div>
  </div>

  <div class="item">
    <h1>Type</h1>
    <wf-class-properties list="class.properties"></wf-class-properties>
  </div>

  <div class="category">
    <h1>Category</h1>
    <div>
      <label>Category<span>*</span></label>
      <input type="text" ng-model="class.category" required />
    </div>
  </div>

  <div class="item">
    <h1>Price</h1>
    <div>
      <label>Price(￥)<span>*</span></label>
      <input type="number" ng-model="class.price" required />
    </div>
    <div>
      <label>Original Price(￥)<span>*</span></label>
      <input type="number" ng-model="class.originalPrice" required />
    </div>
  </div>

  <div class="item">
    <h1>About</h1>
    <div>
      <label>en</label>
      <wf-markdown-editor id="aboutEn" data-model="class.description.en" class="description"></wf-markdown-editor>
    </div>
    <div>
      <label>zh</label>
      <wf-markdown-editor id="aboutZh" data-model="class.description.zh" class="description"></wf-markdown-editor>
    </div>
  </div>

  <div class="item">
    <h1>Date Time</h1>
    <wf-datetime-range data-from-model="class.from" data-to-model="class.to"></wf-datetime-range>
  </div>

  <div class="item">
    <h1>Spots</h1>
    <div>
      <label>Total<span>*</span></label>
      <input type="number" ng-model="class.spots.total" required />
    </div>
    <div>
      <label>Available<span>*</span></label>
      <input type="number" ng-model="class.spots.available" required />
    </div>
  </div>

  <div class="item">
    <h1>Thumbnail</h1>
    <div>
      <label>Image URL</label>
      <input type="text" ng-model="class.thumbnail" />
      <br /><br />
      <img ng-src="{{class.thumbnail}}" style="width: 250px; height: auto;" />
    </div>
  </div>

  <div class="item">
    <h1>Photos</h1>
    <div>
      <wf-add-photo photos="class.photos"></wf-add-photo>
    </div>
  </div>

  <br />
  <input type="submit" value="Submit" ng-click="onSubmit()" ng-disabled="submitDisabled"/>
  <input type="button" value="Cancel" ng-click="onCancel()" />
</form>
