<form class="edit-class edit" name="classForm" novalidate>
  <div class="item">
    <h1>Class ID</h1>
    <span ng-bind="class.id"></span>
  </div>

  <div class="item">
    <h1>Title</h1>
    <div>
      <label>en<span>*</span></label>
      <input type="text" ng-model="class.title.en" required />
    </div>
    <div>
      <label>cn</label>
      <input type="text" ng-model="class.title.zh" />
    </div>
  </div>


  <div class="category">
    <h1>Category</h1>
    <div>
      <label>Category<span>*</span></label>
      <input type="text" ng-model="class.category" required />
    </div>
  </div>

  <div class="item">
    <h1>Price</h1>
    <div>
      <label>Price(￥)<span>*</span></label>
      <input type="number" ng-model="class.price" required />
    </div>
  </div>

  <div class="item">
    <h1>Venue</h1>
    <div>
      <label>Venue<span>*</span></label>
      <wf-select data-model="class.venue" data-type="venue" required ></wf-select>
    </div>
  </div>

  <div class="item">
    <h1>About</h1>
    <div>
      <label>en</label>
      <textarea ng-model="class.description.en"></textarea>
    </div>
    <div>
      <label>cn</label>
      <textarea ng-model="class.description.zh"></textarea>
    </div>
  </div>

  <div class="item">
    <h1>Date Time</h1>
    <wf-datetime-range data-from-model="class.from" data-to-model="class.to"></wf-datetime-range>
  </div>

  <div class="item">
    <h1>Spots</h1>
    <div>
      <label>Total<span>*</span></label>
      <input type="number" ng-model="class.spots.total" required />
    </div>
    <div>
      <label>Available<span>*</span></label>
      <input type="number" ng-model="class.spots.available" required />
    </div>
  </div>

  <br />
  <input type="submit" value="Submit" ng-click="onSubmit()"/>
  <input type="button" value="Cancel" ng-click="onCancel()" />
</form>