<form class="edit-venue edit" name="venueForm" novalidate>
  <h1>Venue</h1>

  <div class="item">
    <h2>Venue Id</h2>
    <p ng-bind="venue.id"></p>
  </div>

  <div class="item">
    <h2>Venue Name</h2>
    <div>
      <label>EN<span>*</span></label>
      <input type="text" ng-model="venue.name.en" required />
    </div>
    <div>
      <label>CN</label>
      <input type="text" ng-model="venue.name.zh" />
    </div>
  </div>

  <div class="item">
    <h2>Venue Address</h2>
    <div>
      <label>EN</label>
      <input type="text" ng-model="venue.address.en" />
    </div>
    <div>
      <label>CN<span>*</span></label>
      <input type="text" ng-model="venue.address.zh" required />
      <button ng-click="onSearchAddress()" >Search</button>
    </div>
  </div>

  <div class="item">
    <label>Loc<span>*</span></label>
    <input ng-model="venue.loc" disabled />
    <div id='studio-geocoder' style="width: 100%; height: 300px;"></div>
  </div>

  <div class="item">
    <h2>Photos</h2>
    <wf-add-photo photos="venue.photos"></wf-add-photo>
  </div>

  <input type="submit" ng-click="onSubmit()" value="Submit" />
  <input type="button" ng-click="onCancel()" value="Cancel" />
</form>
