<div class="order-list">
  <table border="1">
    <caption>Orders</caption>
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Studio</th>
        <th>Time</th>
        <th>User</th>
        <th>Passcode</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td ng-bind="order.clazz.title.en"></td>
        <td ng-bind="order.clazz.venue.name.en"></td>
        <td ng-bind-template="{{order.clazz.from | amDateFormat:'YYYY-MM-DD'}} {{order.clazz.from | amDateFormat:'h:mm'}} - {{order.clazz.to | amDateFormat:'h:mm a'}}"></td>
        <td ng-bind="order.user.username"></td>
        <td ng-bind="order.passcode"></td>
      </tr>
    </tbody>
  </table>
</div>