<ul class="class-list">
  <li ng-repeat="group in vm.events" class="group">
    <div class="date" ng-bind="group[0].from | amDateFormat:'MMM Do, ddd'"></div>
    <ul>
      <li ng-repeat="event in group" class="event" ng-hide="!showAllClasses && $index >= vm.maxClasses" ng-click="vm.onClassClick(event.id)">
        <div class="row">
          <div ng-bind="event.venue.name | wfi18n" class="venue left"></div>
          <div ng-bind="event.category | wfi18n " class="category right"></div>
        </div>
        <div class="row">
          <div ng-bind-template="{{event.title | wfi18n}} ({{event.level | wfi18n}})" class="title left"></div>
          <div ng-bind-template="￥{{event.price | wfi18n}}" class="price right"></div>
        </div>
        <div class="row">
          <div ng-bind-template="{{event.from | amDateFormat:'h:mm'}} - {{event.to | amDateFormat: 'h:mm a'}}" class="time left"></div>
          <div ng-bind="event.venue.address | wfi18n" class="right venue-address"></div>
        </div>
      </li>
    </ul>
    <div ng-show="group.length > vm.maxClasses" class="clearfix">
      <div class="show-all" ng-click="showAllClasses = !showAllClasses" ng-show="!showAllClasses">查看所有课程</div>
      <div class="show-all" ng-click="showAllClasses = !showAllClasses" ng-show="showAllClasses">收起</div>
    </div>
  </li>
</ul>