<div class="class-detail">
  <div class="header">
    <div class="title" ng-bind-template="{{vm.event.title | wfi18n}} ({{vm.event.level | wfi18n}})"></div>
    <wf-share-button></wf-share-button>
  </div>
  <div class="map-container">
    <wf-simple-map data-id="venueAddress"
                   loc="{{vm.event.venue.loc}}"></wf-simple-map>
  </div>
  <div class="event">
    <div class="content summary">
      <div class="clearfix row">
        <div class="venue-name left" ng-bind="vm.event.venue.name | wfi18n"></div>
        <div class="category right" ng-bind="vm.event.category | wfi18n"></div>
      </div>
      <div class="clearfix row">
        <div class="venue-address left" ng-bind="vm.event.venue.address | wfi18n"></div>
        <div class="price right" ng-bind-template="￥{{vm.event.price | wfi18n}}"></div>
      </div>
      <div class="datetime row" ng-bind-template="{{vm.event.from | amDateFormat:'MMM Do, ddd,'}} {{vm.event.from | amDateFormat:'h:mm'}} - {{vm.event.to | amDateFormat:'h:mm a'}}"></div>
    </div>
    <wf-avatar-list list="vm.event.attendees"></wf-avatar-list>
    <div class="class-about content" ng-hide="(!vm.event.about.zh || !vm.event.about.en) && vm.event.venue.photos.length == 0">
      <p ng-bind-html="vm.event.about | wfi18n"></p>
      <ul class="venue-photo-list">
        <li ng-repeat="photo in vm.event.venue.photos" class="venue-photo">
          <img ng-src="{{photo.url}}" />
        </li>
      </ul>
    </div>
  </div>
  <wf-order-button payment-data="vm.paymentData"
                   value="ORDER_NOW"
                   disable-value="NO_SPOTS"
                   enable-condition="vm.event.spots - vm.event.attendees.length > 0"
                   class="button-block blue pay-button"></wf-order-button>
</div>